{
    "printWidth": 120,
    "bracketSameLine": true,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-java", "prettier-plugin-xml"],
    "overrides": [
        {
            "files": "*.xhtml",
            "options": {
                "parser": "xml"
            }
        }
    ]
}
